h1 {
    color: rgb(48, 255, 1);
    background-color: rgb(255, 0, 0);
    text-align: center;
}
.subtitulo {
    color: rgb(255, 0, 255);
    background-color: rgb(25, 0, 255);
    text-align: center;
}